/* @override http://idcc.site/css/easymart.css */

/* Layout */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: url(../images/header-bg.png) repeat-x;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

/* Headings */

#header h1 {
	background-image: url(../images/idcc-logo.png);
	text-indent: -999px;
	width: 238px;
	height: 151px;
}

/* Navigation */

#navigation ul {
	list-style-type: none;
	font-size: 18px;
	margin-top: 70px;
}

#navigation ul li {
	display: inline-block;
	padding-left: 5px;
	margin-right: 5px;
}

/* Notifications */

#loading span {
	background: #fff url(../images/loading.gif) no-repeat left center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	display: inline-block;
}

/* Results */

#results div.container {
	margin-bottom: 10px;
}

#results div.result {
	margin-bottom: 5px;
}

#results div.result span.heading {
	border: 2px solid gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	display: inline-block;
	background-color: #ccc;
	padding: 5px;
	margin-bottom: 5px;
}

#results div.result span.heading a {
	text-decoration: none;
	color: #324143;
}

#results div.result span.heading a:hover {
	cursor: pointer;
	color: #6595a3;
}

#results div.result .data {
	border: 1px solid #ccc;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	padding: 10px;
	margin-bottom: 5px;
}

#results div.result .child {
	background: url(../images/connect_child_to_parent.png) no-repeat 5px 5px;
	padding-left: 25px;
}


