/* @override 
	http://martsearch.site/css/martsearch.css
*/

body{
	margin: 50px;
	font: 62.5% "Trebuchet MS", sans-serif;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.clear {
	clear: both;
	height: 5px;
}

/* Headings */

h1 span.subhead {
	font-size: small;
	color: #fa1614;
	vertical-align: super;
}

h4 span.subheading_counts {
	font-size: x-small;
	color: gray;
	font-style: italic;
}

/* Status Indicators */

#loading {
	background: #fff url(../images/loading.gif) no-repeat left center;
	min-width: 32px;
	min-height: 32px;
	float: left;
	margin-top: -65px;
}

/* Messages */

#messages {
	margin: 15px;
}

#messages div {
	margin-bottom: 7px;
	padding: 0 10px;
}

#messages div .ui-icon {
	float: left;
	margin-top: 12px;
}

#messages div p {
	margin-left: 20px;
}

.error_msg {
	border: 1px solid #999;
	background-color: #e2e2e2;
	color: #333;
	font-size: 10px;
	padding: 10px;
}

/* Toggle Controls */

.toggle-open, .toggle-close {
	background: url(../images/silk_icons/bullet_arrow_down.png) no-repeat 0 center;
	padding-left: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.toggle-close {
	background: url(../images/silk_icons/bullet_arrow_up.png) no-repeat;
}

.toggle-open:hover, .toggle-close:hover {
	cursor: pointer;
}

/* jQuery UI Dialogs */

#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

/* Search and results */

#mart_search, #results {
	margin-bottom: 15px;
	margin-top: 15px;
}

#results table {
	width: 100%;
}

#results th {
	text-align: left;
}

#results ul.result_list {
	list-style: none;
	padding: 0;
	clear:both;
}

#results ul.result_list li {
	padding: 7px;
	margin-bottom: 7px;
}

#results h2.doc_title,
#results h3.dataset_title {
	margin-top: 2px;
}

#results h3.dataset_title {
	border-bottom: 1px solid #999;
}

#results div.dataset {
	padding: 5px;
	margin-bottom: 5px;
}

#results .credit {
	font-size: x-small;
	font-style: italic;
	margin-top: 10px;
	text-align: right;
}

#results table.with_border {
	border-collapse: collapse;
}

#results table.with_border td,
#results table.with_border th {
	border: 1px solid #e2e2e2;
	text-align: left;
	padding: 5px;
}

#results table.with_border th {
	border: 1px solid #e2e2e2;
	background-color: #e2e2e2;
}

#results h2 {
	width: 30%;
}

#results .doc_datasets_present {
	width: 65%;
	float: right;
	text-align: right;
	font-weight: normal;
	font-style: normal;
	font-size: xx-small;
	line-height: 22px;
}

#results .doc_datasets_present span {
	border: 1px solid #ca679a;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #fd9acd;
	color: #fff;
	padding: 4px;
	font-weight: bold;
}


/* Lists for browsing the data - (browse by gene / chromosome) */

ul.browse_list  {
	list-style-type: none;
	font-size: 80%;
}

ul.browse_list li {
	float: none;
	padding: .4em 1em !important;
	display: inline-block;
	margin-right: 0px;
	margin-bottom: 5px;
}

/* Pagination */

.pagination {
	font-size: 80%;
}

.pagination a, .pagination span {
	display: block;
	float: left;
	padding: .4em 1em;
	margin-right: 2px;
	margin-bottom: 5px;
}

/* Footer */

#footer {
	color: #333;
	margin: 5px 10px;
}

#footer #powered {
	float: right;
}

#footer #powered img {
	border: none;
}

#footer #powered a img {
	opacity: .25;
}

#footer #powered a:hover img {
	opacity: .5;
}


/* jQuery UI Buttons */

.ui-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.ui-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.ui-button { float:left; }

button.ui-button { width:auto; overflow:visible; } /* remove extra button width in IE */

.ui-button-icon-left { padding-left: 2.1em; }
.ui-button-icon-right { padding-right: 2.1em; }
.ui-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.ui-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.ui-button-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work */

.ui-buttonset { float:left; }
.ui-buttonset .ui-button { float: left; }
.ui-buttonset-single .ui-button, 
.ui-buttonset-multi .ui-button { margin-right: -1px;}

.ui-toolbar { padding: .5em; margin: 0;  }
.ui-toolbar .ui-buttonset { margin-right:1.5em; padding-left: 1px; }
.ui-toolbar .ui-button { font-size: 1em;  }
