/* @override http://martsearch.site/css/martsearch.css */

body{
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 0 50px 50px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.clear {
	clear: both;
	height: 5px;
}

/* Help Sections */

.help {
	padding-left: 40px;
}

#issues {
	background: url(../images/tango_icons/dialog-warning.png) no-repeat;
}

#adv_search {
	background: url(../images/tango_icons/system-search.png) no-repeat;
}

/* Headings */

#header {
	height: 66px;
	text-align: right;
	background: url(../images/swoosh_mice.png) no-repeat left top;
}

#header h1 {
	margin: 0;
	padding-top: 35px;
}

#header h1 span.subhead {
	font-size: small;
	color: #fa1614;
	vertical-align: super;
}

h4 span.subheading_counts {
	font-size: x-small;
	color: gray;
	font-style: italic;
}

/* Links */

a img {
	border: none;
}

/* Status Indicators */

#search_loading {
	background: #fff url(../images/loading.gif) no-repeat left center;
	min-width: 32px;
	min-height: 32px;
	position: absolute;
	right: 70px;
	top: 130px;
}

#browse_loading {
	background: #fff url(../images/loading.gif) no-repeat left center;
	min-width: 32px;
	min-height: 32px;
	position: absolute;
	right: 70px;
	top: 130px;
}

/* Descriptive Text */

#intro_text, #configure, #help, #about {
	width: 90%;
	margin: 0 auto;
}

#intro_text {
	margin-bottom: 30px;
}

/* Messages */

.messages {
	margin: 15px;
}

.messages div {
	margin-bottom: 7px;
	padding: 0 10px;
}

.messages div .ui-icon {
	float: left;
	margin-top: 12px;
}

.messages div p {
	margin-left: 20px;
}

.error_msg {
	border: 1px solid #999;
	background-color: #e2e2e2;
	color: #333;
	font-size: 10px;
	padding: 10px;
}

#noscript_warning {
	margin-bottom: 15px;
	font-size: 12px;
	padding: 10px;
}

#noscript_warning p {
	margin-left: 19px;
}

#noscript_warning .ui-icon {
	float: left;
	margin-top: 11px;
}

/* Toggle Controls */

.toggle-open, .toggle-close {
	background: url(../images/silk_icons/bullet_arrow_down.png) no-repeat 0 center;
	padding-left: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.toggle-close {
	background: url(../images/silk_icons/bullet_arrow_up.png) no-repeat;
}

.toggle-open:hover, .toggle-close:hover {
	cursor: pointer;
}

/* jQuery UI Dialogs */

#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

/* Search and results */

#mart_search, .results {
	margin-bottom: 15px;
	margin-top: 15px;
}

.results table {
	width: 100%;
}

.results th {
	text-align: left;
}

.results ul.result_list {
	list-style: none;
	padding: 0;
	clear:both;
}

.results ul.result_list li {
	padding: 7px;
	margin-bottom: 7px;
	border-width: 3px;
}

.results h2.doc_title,
.results h3.dataset_title {
	margin-top: 2px;
}

.results h3.dataset_title {
	border-bottom: 1px solid #999;
}

.results div.dataset {
	padding: 5px;
	margin-bottom: 5px;
}

.results .credit {
	font-size: x-small;
	font-style: italic;
	margin-top: 10px;
	text-align: right;
}

.results h2 {
	width: 30%;
}

.results .doc_datasets_present {
	width: 65%;
	float: right;
	text-align: right;
	font-weight: normal;
	font-style: normal;
	font-size: xx-small;
	line-height: 22px;
}

.results .doc_datasets_present span {
	border: 1px solid #ca679a;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #fd9acd;
	color: #fff;
	padding: 4px;
	font-weight: bold;
}

/* Tables */

table.with_border {
	border-collapse: collapse;
}

table.with_border td,
table.with_border th {
	border: 1px solid #e2e2e2;
	text-align: left;
	padding: 5px;
}

table.with_border th {
	border: 1px solid #e2e2e2;
	background-color: #e2e2e2;
}

/* Lists for browsing the data - (browse by gene / chromosome) */

ul.browse_list  {
	font-size: 80%;
	margin: 0;
	line-height: 24px;
}

ul.browse_list li {
	list-style-type: none;
	display: inline;
	padding: 4px;
	margin: 0 4px 0 0;
}

/* Pagination */

.pagination {
	font-size: 80%;
}

.pagination a, .pagination span {
	display: block;
	float: left;
	padding: .4em 1em;
	margin-right: 2px;
	margin-bottom: 5px;
}

/* Footer */

#footer {
	color: #333;
	margin: 5px 10px;
}

#footer #powered {
	float: right;
}

#footer #powered img {
	border: none;
}

#footer #powered a img {
	opacity: .25;
}

#footer #powered a:hover img {
	opacity: .5;
}


/* jQuery UI Buttons */

.ui-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.ui-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.ui-button { float:left; }

button.ui-button { width:auto; overflow:visible; } /* remove extra button width in IE */

.ui-button-icon-left { padding-left: 2.1em; }
.ui-button-icon-right { padding-right: 2.1em; }
.ui-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.ui-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.ui-button-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work */

.ui-buttonset { float:left; }
.ui-buttonset .ui-button { float: left; }
.ui-buttonset-single .ui-button, 
.ui-buttonset-multi .ui-button { margin-right: -1px;}

.ui-toolbar { padding: .5em; margin: 0;  }
.ui-toolbar .ui-buttonset { margin-right:1.5em; padding-left: 1px; }
.ui-toolbar .ui-button { font-size: 1em;  }

/* HTGT_TARG CSS */
table.htgt_targ_allele_progress {
  border-collapse: collapse;
}

table.htgt_targ_allele_progress tr {
  border-bottom: 2px solid #fff;
}

table.htgt_targ_allele_progress td {
  background-repeat: no-repeat;
  background-position: right center;
  vertical-align: middle;
  text-align: center;
  padding: 5px 15px 5px 7px;
  height: 35px;
}

table.htgt_targ_allele_progress table tr {
  border: none;
}

table.htgt_targ_allele_progress table.with_border td,
table.htgt_targ_allele_progress table.with_border th {
  border: 1px solid #e2e2e2;
  text-align: left;
}

table.htgt_targ_allele_progress table td {
	text-align: left;
}

table.htgt_targ_allele_progress table.with_border td {
	height: auto;
}

table.htgt_targ_allele_progress th.centre {
  text-align: center !important;
}

table.htgt_targ_allele_progress td.incomp {
  background-color: #ccc;
}

table.htgt_targ_allele_progress td.normal {
  background: none;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #074987;
}

table.htgt_targ_allele_progress td.error {
  background-color: #c1272d;
}

table.htgt_targ_allele_progress td.warn {
  background: none;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f7931e;
}

table.htgt_targ_allele_progress td.normal,
table.htgt_targ_allele_progress td.error,
table.htgt_targ_allele_progress td.warn {
  color: #fff;
  font-weight: bold;
}

table.htgt_targ_allele_progress td.normal_normal {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-comp.png');
}

table.htgt_targ_allele_progress td.normal_incomp {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-incomp.png');
}

table.htgt_targ_allele_progress td.normal_error {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-error.png');
}

table.htgt_targ_allele_progress td.normal_warn {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-comp-warn.png');
}

table.htgt_targ_allele_progress td.incomp_incomp {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-incomp-incomp.png');
}

table.htgt_targ_allele_progress td.error_incomp {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-error-incomp.png');
}

table.htgt_targ_allele_progress td.warn_incomp {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-warn-incomp.png');
}

table.htgt_targ_allele_progress td.start_incomp {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-incomp.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.start_normal {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-comp.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.start_error {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-error.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.start_warn {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-start-warn.png');
  background-color: #fff;
}

table.htgt_targ_allele_progress td.end_incomp {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-incomp.png');
}

table.htgt_targ_allele_progress td.end_normal {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-comp.png');
}

table.htgt_targ_allele_progress td.end_error {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-error.png');
}

table.htgt_targ_allele_progress td.end_warn {
  background-image: url('http://www.sanger.ac.uk/htgt/static/images/progress-end-warn.png');
}

div.htgt_targ_allele_box {
  padding: 5px;
  margin: 4px;
}

div.htgt_targ_allele_box ul li {
  margin: 0 !important;
}

/* Vertical text hacks */
/*
html>body .canv { display: none }
html>body .obj  { display: block }
.canv, .obj { height:160px; width: 12px; }
*/

/* Phenotyping */

table.phenotyping td {
	background: #fff;
}

table.phenotyping td.test_not_done {
	cursor: pointer;
}

table.phenotyping td.significant_difference {
	background-color: #c1272d;
	cursor: pointer;
}

table.phenotyping td.no_significant_difference {
	background-color: #074987;
	cursor: pointer;
}

table.phenotyping td.not_applicable {
	background-color: #b8b8b8;
	cursor: pointer;
}

table.phenotyping td.pheno_result {
	width: 14px;
	padding-left: 2px;
	padding-right: 2px;
}

table.phenotyping td.pheno_result a img {
	border: none;
}

/* Sanger Statistics Table */

table#sanger_product_statistics {
	width: 100%;
}

table#sanger_product_statistics tr th,
table#sanger_product_statistics tr td {
	text-align: center;
}

table#sanger_product_statistics thead tr :first-child {
	text-align: left;
	padding-left: 10px;
}

/* Sanger Header Link */

a#sanger_link {
	float: left;
}

a#sanger_link img {
	border: none;
}
