<div class="center">
  <ul id="browse_by_gene_list" class="browse_list">
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">A</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">B</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">C</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">D</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">E</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">F</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">G</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">H</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">I</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">J</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">K</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">L</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">M</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">N</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">O</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">P</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">Q</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">R</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">S</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">T</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">U</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">V</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">W</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">X</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">Y</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">Z</a></li>
    <li class="ui-button ui-state-default ui-corner-all"><a href="#">0-9</a></li>
  </ul>
</div>
<div id="browse_by_symbol_pager" class="pagination"></div>
<div id="browse_by_symbol_results" class="result_list"></div>