<table class="ikmc-info" width="100%">
  <tr>
    <th></th>
    <% var key = $.keys(data)[0] %>
    <% $.each( data[key], function( project, count ) { %>
      <th><%= project %></th>
    <% }); %>
    <th colspan="2">Download</th>
  </tr>
  <% $.each( data, function ( product_type, projects ) { %>
    <tr>
      <td><strong><%= product_type %></strong></td>
      <% $.each( projects, function ( project, count ) { %>
        <td id='<%= product_type.replace(/ /ig, "_") %>_<%= project %>'></td>
      <% }); %>
      <td><a href="#">html</a></td>
      <td><a href="#">text</a></td>
    </tr>
  <% }); %>
</table>