<%
  var project_link = {
    EUCOMM:     'http://www.eucomm.org/htgt/report/gene_report?project_id=',
    KOMP:       'http://www.sanger.ac.uk/htgt/report/gene_report?project_id=',
    Regeneron:  'http://www.velocigene.com/komp/detail/',
    NorCOMM:    ''
  }
%>
<% var contructs = gene.getTargetedConstructList() %>
<table style="width: 100%;">
  <% for ( var i=0; i<contructs.length; i++ ) { %>
    <tr>
      <td>
        <strong>
          <% if ( contructs[i].project.match('KOMP') ) { %>               KOMP-CSD
          <% } else if ( contructs[i].project.match('Regeneron') ) { %>   KOMP-Regeneron
          <% } else { %>                                                  <%= contructs[i].project %>
          <% } %>
        </strong>
      </td>
      <td><%= contructs[i].status %></td>
      <td>
        <a href="<%= project_link[ contructs[i].project ] %><%= contructs[i].project_id %>">Vector/Allele Details</a>
      </td>
    </tr>
  <% } %>
</table>
